
@import url('https://fonts.googleapis.com/css2?family=Your+Selected+Font');

:root {
    --primary-color: #0077b6;
    --secondary-color: #00a8e8;
    --text-color: #333;
    --footer-bg-color: #f4f4f4;
    --article-bg-color: rgba(255, 255, 255, 0.8);
}

h1, h2, p {
    font-family: 'Your Selected Font', sans-serif;
    color: var(--text-color);
}

.social-links a {
    text-decoration: none;
}

.social-links img {
    display: block;
    margin: 0 auto;
    width: 20px; 
    height: 20px; 
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
}

.hero article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--article-bg-color);
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
}

.hero article img {
    float: right;
    margin: 10px;
}


footer {
    background-color: var(--footer-bg-color);
    text-align: center;
    padding: 10px 0;
}

.social-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
}

.social-links a {
    text-decoration: none;
    margin: 0 10px; /* Add some horizontal spacing between links */
}

.social-links img {
    display: block;
    width: 20px; 
    height: 20px;
}


footer p {
    font-size: 0.9rem;
    color: #888;
}

