main {
    max-width: 840px;
    margin: 0 auto;
}

aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #ffffff;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

main p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Added CSS Rules */

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #396e94;
}

nav a:hover {
    background-color: #e7c24f;
    color: #333;
}

h1 {
    font-size: 24px;
    color: #333;
}

img {
    border: 1px solid #ddd;
    border-radius: 5px;
}

p {
    line-height: 1.5;
    margin: 10px 0;
    color: #555;
}


